{% extends "admin.html.twig" %}

{% block title %}
{{ parent() }} - Admin
{% endblock %}

{% block contentTitle %}Accueil{% endblock %}     
{% block content %}
<p>Bienvenue sur l'interface d'administration.</p>
{% endblock %}