{% extends "main.html" %}

{% block title %}
    Administration
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block header %}
{% endblock %}

{% block sectionHeader%}
{% endblock %}

{% block classNotifs %}
{% endblock %}

{% block notifications %}
{% endblock %}

{% block body %}
{% block menu %}
<aside>
    <nav>
        <ul>
            <li>
                <a href="{{WEBROOT}}patient">Patients</a>
                <ul>
                    <li>
                        <a href="{{WEBROOT}}patient/add">Ajouter un patient</a>
                    </li>
                </ul>
            </li>
            <li>
               <a href="{{WEBROOT}}medecin">Médecins</a>
                <ul>
                    <li>
                        <a href="{{WEBROOT}}medecin/add">Ajouter un médecin</a>
                    </li>
                </ul>
            </li>
             <li>
                <a href="{{WEBROOT}}admin">Administration générale</a>
            </li>
        </ul>
    </nav>
</aside>
{% endblock %}
{% endblock %}

{% block footer %}
{% endblock %}