{% extends "main.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block header %}
<h1>{% block sectionTitle %}{% endblock %}</h1>
<div class="deconnexion">
    Bonjour {{user.prenom}} {{user.nom}}<br />
    <a href="{{WEBROOT}}deconnexion">D&eacute;connexion</a>
</div>
{% endblock %}


{% block body %}
{% block menu %}
{% endblock %}
{% endblock %}
