{% extends "main.html.twig" %}

{% block header %}
<h1>{% block sectionTitle %}{% endblock %}</h1>
<div class="deconnexion">
    Bonjour {{user.prenom}} {{user.nom}}<br />
    <a href="{{WEBROOT}}deconnexion">D&eacute;connexion</a>
</div>
{% endblock %}


{% block body %}

{% block menu %}
{% endblock %}
<div class="content">
    <header>
        <h2>{% block contentTitle %}{% endblock %}</h2>
    </header>
    <section class="{% block classNotifs %}error{% endblock %}">
        {% block notifications %}
        {% if messages is not null %}
             {% for m in messages %}  
            <p>{{m}}</p>
             {% endfor %}
        {% endif %}
    {% endblock %}
        </section>
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}
