header{
    text-align: center;
}
.menu {
    float: left;
    width:160px;
}

.menu a  {
    padding-left: 10px;
    padding-right: 10px;
    width:180px;
    line-height: 40px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #4099FF;
    box-shadow: 2px 2px 2px #999;
}

.deconnexion{
    display: block;
    float:right;
    text-align: right;
    margin-right : 10px;
}

ul{
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a, ul li ul li a{
    display: block ;
    line-height: 1em ;
    text-decoration: none;
}

footer{
    width:100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    background-color: #ABC8E2;
}