/* 
    Document   : medecin
    Created on : 30 déc. 2012, 15:00:42
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

.content{
    display:block;
    width:80%;
    float: left;
    margin-left :20px;
    overflow:auto;
}

header.top {
    width : 100%;
    height: 100px;
    color: white;
    background-color: #2E2A2B;
}
header.top h1{
    margin :0;
    padding : 5px;
}

footer{
    width:100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    color: white;
    background-color: #2E2A2B;
}

.error{
    font-weight: bold;
    font-size: 10pt;
}