/* 
    Document   : medecin
    Created on : 30 déc. 2012, 15:00:42
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

.content{
    display:block;
    width:80%;
    float: left;
    margin-left :20px;
}

header.top {
    width : 100%;
    height: 100px;
    background-color: #ABC8E2;
}
header.top h1{
    margin :0;
    padding : 5px;
}