body {
    width:100%;
    heigth: 100%;
    margin: 0;
    padding: 0;
}

input {
    padding: 15px 15px 15px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 white;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 white;
}

input[type="submit"] {
    padding: 10px 30px 10px 30px;
    text-align: center;
}