
h1 {
    text-align: center;
}

section {
    width: 25%;
    height:50%;
    margin: auto;
    vertical-align: middle;
}

input {
    margin : 5px 5%;
    padding: 15px 15px 15px 30px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 white;
    box-shadow: 0 1px 1px #CCC inset, 0 1px 0 white;
}

input[type="submit"] {
    padding: 10px 30px 10px 30px;
    text-align: center;
}

input#login {
    width: 77%;
    background:url(../img/login-sprite.png) no-repeat;    
    background-position: 7px 0px;
}

input#password {
    width: 77%;
    background:url(../img/login-sprite.png) no-repeat;    
    background-position: 7px -50px;
}
footer{
    width:100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    background-color: #ABC8E2;
}

.top {
    padding: 5% 0;
}