{% extends "admin.html" %}

{% block title %}
{{ parent() }} - Patient
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block header %}
Liste des patients
{% endblock %}

{% block body %}
index
{% block menu %}
{{ parent() }}
{% endblock %}
{%if patients != NULL %}
<table>
    <tr><th>Nom</th><th>Prenom</th><th>Actions</th></tr>
    {% for m in patients %}
    <tr><td>{{m.nom}}</td><td>{{m.prenom}}</td><td>
                    <a href="{{WEBROOT}}patient/view/{{m.matricule}}">Details</a>
                    <a href="{{WEBROOT}}patient/update/{{m.matricule}}">Modifier</a></td></tr>
    {% endfor %}
</table>
{% else %}
    Il n'y a aucun patient enregistr&eacute;
{% endif %}
{% endblock %}