<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Test</title>
</head>
<body>
    Vous venez de créer votre premier template avec {{ moteur_name }} !

    {% filter upper %}
        je vais être écrit en majuscule
        {{ moi_aussi }}
    {% endfilter %}

    {% filter upper|escape %}
    je vais &ecirc;tre &eacute;crit en majuscule <em>et &eacute;chapp&eacute;</em>
    {% endfilter %}

    {% autoescape false %}
    <strong>Je vais être affich&eacute, en gras</strong>
    {% endautoescape %}
</body>
</html>
